@media screen and (max-width:650px){
    header .container1, .compacto{
        display: flex;
        flex-direction: column;
    }

    header .icone{
        visibility: hidden;
    }
    .botao{
        margin: 5px;
    }
    .filme-principal{
        height: 570px;
        background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/capa2.jpg');
    }

}